backend_files/
archive/
examples/inputs/merged_cohort_example.vcf.gz*
examples/inputs/single_genome_example.vcf.gz*
nextflow/.nextflow*
nextflow/.nextflow
nextflow/results/*
nextflow/work/*
nextflow/workflows/comparators.nf
needLR_output/
