params{
    // parameters provided at the command line
    subcommand= null
    fileList = null
    control_vcf = null
    region = "none"
    globalcpus = 1
    maxSimultaneous=1
    merged = false

    publish_dir = 'results'

    // annotations selected at the command line
    no_annotations = false

    omim = false
    gencc = false
    hpo = false
    pli = false
    utr = false
    cds = false
    oreganno = false
    mapflags = false
    hiconf = false

    example = false

}
// parameter processing after start
//def inputFile=file(params.fileList)

//def totalFiles=length( inputFile.readLines() )
//def taskCpus=params.cpus

def all_annotation_string="omim,gencc,hpo,pli,utr,cds,oreganno,mapflags,hiconf"
params.annotation_string=""

if(params.no_annotations){
    params.annotation_string=""
} else if(params.omim){
    params.annotation_string="omim"
} else if(params.gencc){
    if(params.annotation_string==""){params.annotation_string="gencc"}
    else{params.annotation_string=params.annotation_string+",gencc"}
} else if(params.hpo){
    if(params.annotation_string==""){params.annotation_string="hpo"}
    else{params.annotation_string=params.annotation_string+",hpo"}
} else if(params.pli){
    if(params.annotation_string==""){params.annotation_string="pli"}
    else{params.annotation_string=params.annotation_string+",pli"}
} else if(params.utr){
    if(params.annotation_string==""){params.annotation_string="utr"}
    else{params.annotation_string=params.annotation_string+",utr"}
} else if(params.cds){
    if(params.annotation_string==""){params.annotation_string="cds"}
    else{params.annotation_string=params.annotation_string+",cds"}
} else if(params.oreganno){
    if(params.annotation_string==""){params.annotation_string="oreganno"}
    else{params.annotation_string=params.annotation_string+",oreganno"}
} else if(params.mapflags){
    if(params.annotation_string==""){params.annotation_string="mapflags"}
    else{params.annotation_string=params.annotation_string+",mapflags"}
} else if(params.hiconf){
    if(params.annotation_string==""){params.annotation_string="hiconf"}
    else{params.annotation_string=params.annotation_string+",hiconf"}
} else {
    params.annotation_string = "all"
    params.omim=true
    params.gencc=true
    params.hpo=true
    params.pli=true
    params.utr=true
    params.cds=true
    params.oreganno=true
    params.mapflags=true
    params.hiconf=true
}

if(params.control_vcf != null){
    if(params.subpops != null){
        if(params.keep1kg){
            if(params.annotation_string==""){params.annotation_string="keep1kg"}
            else{params.annotation_string=params.annotation_string+",keep1kg"}
        }
        if(params.melt1kg){
            if(params.annotation_string==""){params.annotation_string="melt1kg"}
            else{params.annotation_string=params.annotation_string+",melt1kg"}
        }
    }
}

/*if(totalFiles>1){
    chunk=params.maxChunk
    if(params.maxChunk>totalFiles){
        chunk=totalFiles
    }
    taskCpus=params.cpus/chunk as int
}
*/

executor {
    name = 'local'
    cpus = params.cpus
}

//this is changed after determining how many inputs there are
process {
    cpus = params.cpus/params.maxSimultaneous as int
}
